PORT=3001
PUBLIC_PATH=public
POSTGRES_URL=postgresql://postgres:123456@localhost:5433/TODO_TEST
POSTGRES_USER=postgres
POSTGRES_DB=TODO_TEST
POSTGRES_PORT=5433
POSTGRES_PASSWORD=123456
NODE_ENV=test
MONGO_URL=mongodb://mongo-user:123456@localhost:27017
MONGO_DB_NAME=AUTH_TEST
JWT_SEED=test-only-secret
MAILER_SERVICE=gmail
MAILER_EMAIL=your-email@example.com
MAILER_SECRET_KEY=your-app-password
WEBSERVICE_URL=http://localhost:3000

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your-webhook-id/your-token
